@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rock+Salt&display=swap");

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  max-width: 600px;
  padding: 8px;
  margin: auto;
}

.calendar-background {
  padding: 12px;
  margin-top: -40px;
  /* margin: -40px 10px; */
  /* padding-bottom: 120px; */
  /* transform: translateY(-40px); */
  width: auto;
  min-width: 60%;
  height: auto;
  border: 2px solid #1e0d0d;
  border-radius: 2px;
  background-image: url("knife.avif");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  width: 100%;
  border-top: 1px solid #ccc;
}

h2 {
  font-family: "Rock Salt", sans-serif;
  text-align: center;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-family: "Rock Salt", sans-serif;
}

.day {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: "Coming Soon", sans-serif;
  font-weight: 800;
  color: #333;
  border: 2px solid #08d241;
  background-color: rgb(178, 241, 219);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
}

.day-today {
  background-color: #1ad2c3;
  /* color: red; */
}

.month-button {
  display: flex;
  font-size: 0.6em;
  font-family: "Rock Salt", sans-serif;
  background-color: rgb(178, 241, 219);
  margin: auto;
  border: 1px solid black;
  border-radius: 4px;
}

.underline {
    text-decoration: underline;
    color: rgb(165, 12, 165);
}

@media (max-width: 480px) {
    .calendar-container, .calendar-background, .calendar-nav {
      width: auto; /* Ensure these elements don't exceed the viewport width */
      margin: 0 auto; /* Center them */
    }
    .calendar-nav {
      flex-direction: column; /* Stack the Previous button, title, and Next button vertically */
      align-items: center; /* Align items to the center */
    }
    .calendar-header div, .day {
      font-size: 12px; /* Smaller text to fit more content */
    }
    .day {
      padding: 8px; /* Reduce padding to fit the days better */
    }
    /* Reduce the size of the buttons in the navigation to fit the screen better */
    .month-button {
      padding: 5px;
      font-size: 12px;
    }
  }
  