@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Coming+Soon&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Rock+Salt&display=swap");

.Modal {
  position: fixed;
  font-family: "Coming Soon", sans-serif;
  font-size: 22px;
  font-weight: 800;
  top: 50%;
  left: 50%;
  height: auto;
  width: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000000;
  backdrop-filter: blur(38px);
  -webkit-backdrop-filter: blur(38px);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: -20px;
  z-index: 1000;
  opacity: 0.9;
  transition: opacity 0.5s ease;
  animation: fadeIn 0.7s ease;
}

.Modal-date {
  font-family: "Caveat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  margin-top: -40px;
  transform: translateY(40px);
}

.no-entries {
  transform: translateY(12px);
}

.modal-input {
  margin-bottom: 10px;
}

.modal-button {
  margin-top: 10px;
}

.modal-entry {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 90%;
  background-color: rgb(127, 170, 255);
  border-radius: 2px;
  margin-top: 1px;
}

.Modal-entries ul {
  font-size: 16px;
  list-style-type: disc;
  padding-left: 30px;
}

.trash-button {
  cursor: pointer;
  font-size: 22px;
  background-color: transparent;
  border: none;
  right: 1em;
  margin-left: 90px;
}

input,
.add-entry {
  font-family: "Coming Soon", sans-serif;
  border-radius: 8px;
  border-color: gray;
}

.add-entry {
  cursor: pointer;
  font-weight: 600;
}

.close-window {
  cursor: pointer;
  font-size: 33px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

@media (max-width: 480px) {
  .Modal {
    width: 80%;
    left: 10%;
    transform: translateX(0%);
    top: 10%;
    max-width: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}


@media (max-width: 768px) {
  .Modal {
    width: 70%;
    font-size: 18px;
    top: 25%;
  }

  .Modal-date {
    font-size: 32px;
  }

  .trash-button {
    font-size: 18px;
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  .Modal {
    width: 90%;
    left: 5%;
    top: 10%;
    transform: none;
    font-size: 16px;
  }

  .Modal-date {
    font-size: 26px;
    transform: none;
  }

  .trash-button {
    font-size: 16px;
    margin-left: 30px;
  }
}
